.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7/full-end;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 4vh;
  align-content: center;
  justify-content: center;
  justify-items: center;

  @include media-query-max-width($breakpoint-large) {
    grid-column: full-start/full-end;
    grid-template-columns: min-content min-content min-content;
  }

  @include media-query-max-width($breakpoint-small) {
    grid-template-columns: 1fr;
  }

  &__heading {
    grid-column: 1/-1;
  }

  &__realtor {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1.5vw;
    align-items: center;
  }

  &__picture {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__sells {
    color: rgba($color-grey-light-2, 0.8);
    font-size: 0.9em;
    text-transform: uppercase;
  }
}
