$bar-line-height: 3px;

.sidebar {
  background-color: $color-primary;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  position: relative;

  &:hover &__nav-btn {
    &,
    &::before,
    &::after {
      background-color: #fff;
    }
  }

  &__nav-btn {
    position: fixed;
    border: none;
    border-radius: 0;
    transition: all 0.2s;

    &,
    &::before,
    &::after {
      height: $bar-line-height;
      width: 5rem;
      background-color: $color-grey-light-1;
      display: block;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(calc(-3rem - #{$bar-line-height})); }
  }
}
